body {
    overflow-x: hidden;
    background-color: #1d1d1d;
}

.container {
    margin-top: 50px;
    width: 400px;
}

.custom-navbar {
    background-color: #273b40;
}

.navbar-custom .navbar-brand:hover {
    background-color: #8be8b5;
    color: #273b40;
    padding: 4px;
    border-radius: 4px;
    cursor: pointer;
}

.navbar-custom .navbar-brand {
    color: #cae9ea;
    font-weight: bold;
}

.navbar-nav .nav-item .nav-link {
    color: #CED4da;
}

.navbar-nav .nav-item.active .nav-link {
    color: white;
    font-weight: bold;
}

.navbar-nav .nav-item .nav-link:hover {
    color: #8be8b5;
    font-weight: bold;
}

.navbar-toggler {
    color: white;
    background-color: white;
}

.sidebar-container {
    display: column;
    flex-direction: row;
    align-items: flex-start;
}

.sidebar {
    background-color: #3c4748;
    height: 100vh;
    padding: 20px;
}

.sidebar h5 {
    padding-bottom: 5px;
}

.sidebar li {
    margin: 5px 0;
}

.sidebar-content {
    color: #cae9ea;
    padding: 15px;
}

.sidebar-content li:hover {
    color: #8be8b5;
    cursor: pointer;
    font-weight: bold;
}

.sidebar-content ul {
    list-style-type: none;
    padding: 0;
}

@media (max-width: 768px) {
    .sidebar-content {
        display: inline-block;
        margin: 0 2%;
        vertical-align: top;
    }

    .sidebar {
        width: 100%;
        height: 45%;
        text-align: center;
    }
}

.browse-more:hover {
    text-decoration: underline;
}

.register-buttons {
    background: linear-gradient(180deg, #cae9ea, #7ebda5);
    color: #273b40;
    font-weight: bold;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;

    &:hover {
        background: linear-gradient(180deg, #8be8b5, #4b9c78);
        color: #273b40;
        border: 2px solid #cae9ea;
    }
}

header {
    text-align: center;
    position: relative;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
    margin-left: 20px;
    margin-right: 35px;
    margin-top: 3%;
}

header img {
    width: 100%;
    max-height: 500px;
    object-fit: cover;
    filter: brightness(0.4);
    border-radius: 5px;
}

section {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

header h2 {
    color: #cae9ea;
    font-size: 36px;
    font-weight: bold;
    padding-bottom: 30px;
}

header p {
    color: #cae9ea;
    font-size: 18px;
    padding-bottom: 30px;
}

.hero-button {
    background: linear-gradient(180deg, #cae9ea, #7ebda5);
    font-weight: bold;
    color: #273b40;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;

    &:hover {
        background: linear-gradient(180deg, #8be8b5, #4b9c78);
        border: 2px solid #cae9ea;
        color: #273b40;
    }
}

.content-below-hero {
    margin-top: 3%;
    margin-left: 20px;
}

.content-below-hero h2 {
    font-size: 30px;
}

.recent-games h2 {
    color: #cae9ea;
}

.recent-forum-posts h2 {
    color: #cae9ea;
}