body {
    overflow-x: hidden;
}

.container {
    margin-top: 50px;
    width: 400px;
}

.custom-navbar {
    background-color: #ac3131;
}

.navbar-custom .navbar-brand:hover {
    background-color: white;
    color: #ac3131;
    padding: 4px;
    border-radius: 4px;
    cursor: pointer;
}

.navbar-custom .navbar-brand {
    color: white;
    font-weight: bold;
}

.navbar-nav .nav-item .nav-link {
    color: #CED4da;
}

.navbar-nav .nav-item.active .nav-link {
    color: white;
}

.navbar-nav .nav-item .nav-link:hover {
    color: white;
}

.navbar-toggler {
    color: white;
    background-color: white;
}

.sidebar-container {
    display: column;
    flex-direction: row;
    align-items: flex-start;
}

.sidebar {
    background-color: #d9d9d9;
    height: 100%;
    padding: 20px;
}

.sidebar h5 {
    padding-bottom: 5px;
}

.sidebar li {
    margin: 5px 0;
}

.sidebar-content {
    padding: 15px;
}

.sidebar-content li:hover {
    color: #ac3131;
    cursor: pointer;
}

.sidebar-content ul {
    list-style-type: none;
    padding: 0;
}

@media (max-width: 768px) {
    .sidebar-content {
        display: inline-block;
        margin: 0 2%;
        vertical-align: top;
    }

    .sidebar {
        width: 100%;
        height: 45%;
        text-align: center;
    }
}

.browse-more:hover {
    color: #ac3131;
    text-decoration: underline;
}

.register-buttons {
    background-color: white;
    color: #ac3131;
    font-weight: bold;
    padding: 8px;
    border: none;
    border-radius: 5px;
    cursor: pointer;

    &:hover {
        background-color: #ac3131;
        color: white;
        border: 2px solid white;
    }
}

.hero {
    background-color: #ac3131;
    color: white;
    text-align: center;
    margin-top: 3%;
    margin-left: 50px;
    margin-right: 50px;
    padding: 60px;
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
}

.hero h2 {
    font-size: 36px;
    padding-bottom: 10px;
}

.hero p {
    font-size: 18px;
    padding-bottom: 10px;
}

.hero-button {
    background-color: white;
    font-weight: bold;
    color: #ac3131;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;

    &:hover {
        background-color: #ac3131;
        border: 2px solid white;
        color: white;
    }
}

.content-below-hero {
    margin-top: 3%;
    margin-left: 50px;
    margin-right: 50px;
}

.content-below-hero h2 {
    font-size: 30px;
}