body {
    overflow-x: hidden;
    overflow-y: auto;
    margin: 0;
    padding: 0;
}


body:not(.forum-threads-body)::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('/static/images/body_background_8.png') no-repeat center center fixed;
    background-size: cover;
    filter: brightness(0.45);
    z-index: -1;
}


body.home-page::before {
    background: none;
}


body.home-page {
    background-color: #1d1d1d;
}

*:focus {
    outline: 0 !important;
}

/* -----------------------------------------------------LAYOUT STYLING (NAVBAR, FOOTER, BUTTONS)---------------------------------------------*/
.custom-navbar {
    background-color: #273b40;
}

.navbar-custom .navbar-brand:hover {
    background-color: #273b40;
    color: #8be8b5;
    padding: 4px;
    border-radius: 4px;
    cursor: pointer;
}

.navbar-custom .navbar-brand {
    color: #cae9ea;
    font-weight: bold;
    font-size: 25px;
}

.navbar-nav .nav-item .nav-link {
    color: #CED4da;
}

.navbar-nav .nav-item .nav-link:hover {
    color: #8be8b5;
    font-weight: bold;
}

.navbar-toggler {
    color: white;
    background-color: white;
}

.btn-dropdown-toggle {
    background-color: #273b40;
    color: #cae9ea;
    border: none;
    padding: 8px 16px;
    padding-right: 20px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 4px;

    &:hover {
        color: #8be8b5;
    }
}

.dropdown-menu {
    background: #273b40;
    border: 1px solid #cae9ea;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 8px 0;
    font-size: 14px;
}

.dropdown-item {
    color: #cae9ea;
    padding: 8px 16px;
    font-size: 18px;

    &:hover {
        background-color: #8be8b5;
        color: #273b40;
    }
}

.register-buttons {
    background: linear-gradient(180deg, #cae9ea, #7ebda5);
    color: #273b40;
    font-weight: bold;
    padding: 8px;
    border: none;
    border-radius: 5px;
    cursor: pointer;

    &:hover {
        background: linear-gradient(180deg, #8be8b5, #4b9c78);
        color: #273b40;
        border: 2px solid #cae9ea;
    }
}

textarea {
    white-space: pre-wrap;
}

/* ---------------------------------------------------------------LOGIN/SIGNUP PAGE STYLING--------------------------------------------------*/
.form-group label {
    color: white;
}

.login-container {
    background-color: #39595f;
    border: 2px solid #cae9ea;
    padding: 20px;
    border-radius: 8px;
    margin: auto;
    margin-top: 50px;
    max-width: 400px;
}

.login-container h2 {
    text-align: center;
}

.login-button {
    background: linear-gradient(180deg, #cae9ea, #7ebda5);
    color: #273b40;
    font-weight: bold;
    padding: 8px;
    border: 1px solid #cae9ea;
    border-radius: 5px;
    cursor: pointer;

    &:hover {
        background: linear-gradient(180deg, #8be8b5, #4b9c78);
        color: #273b40;
        border: 2px solid #cae9ea;
    }
}

.signup-container h2 {
    text-align: center;
}

.signup-container {
    background-color: #39595f;
    border: 2px solid #cae9ea;
    padding: 20px;
    border-radius: 8px;
    margin: auto;
    margin-top: 50px;
    max-width: 400px;
}

.signup-button {
    background: linear-gradient(180deg, #cae9ea, #7ebda5);
    color: #273b40;
    font-weight: bold;
    padding: 8px;
    border: 1px solid #cae9ea;
    border-radius: 5px;
    cursor: pointer;

    &:hover {
        background: linear-gradient(180deg, #8be8b5, #4b9c78);
        color: #273b40;
        border: 2px solid #cae9ea;
    }
}

.prompt {
    margin-top: 10px;
    text-align: center;
}

.register-link {
    font-weight: bold;
    color: #8be8b5;

    &:hover {
        color: #8be8b5;
    }
}

.password-container {
    position: relative;
    margin-bottom: 20px;
}

.password-input {
    padding: 10px;
    width: 100%;
}

.show-password {
    position: absolute;
    right: 10px;
    bottom: 8px;
    cursor: pointer;
}

/* ---------------------------------------------------------------HOME PAGE STYLING-----------------------------------------------------------*/
.home-page {
    background: #1d1d1d;
}

.sidebar-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.sidebar {
    background-color: #3c4748;
    padding: 20px;
    position: sticky;
    top: 0;
    height: 100vh;
}

.sidebar h5 {
    padding-bottom: 5px;
}

.sidebar li {
    margin: 5px 0;
}

.sidebar-content {
    padding: 15px;
}

.sidebar-content a, .sidebar-content li {
    color: #cae9ea;
    text-decoration: none;
}

.sidebar-content a:hover {
    color: #8be8b5;
    cursor: pointer;
    font-weight: bold;
}

.sidebar-content ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.check-out-users {
    margin-top: 20px;
}

.recents-home-container {
    border-radius: 5px;
    padding: 15px;
}

.main-content {
    overflow-y: auto;
}

.forum-home-page-link {
    text-decoration: none;
    color: #cae9ea;

    &:hover {
        color: #cae9ea;
        text-decoration: underline;
    }
}

.forum-page-link {
    text-decoration: none;
    color: #cae9ea;

    &:hover {
        color: #8be8b5;
        text-decoration: underline;
    }
}

.browse-all:hover {
    text-decoration: underline;
}

header {
    text-align: center;
    position: relative;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

header img {
    width: 100%;
    height: 100%;
    max-height: 600px;
    object-fit: cover;
    filter: brightness(0.4);
    border-radius: 1px;
}

section {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

header h2 {
    color: #cae9ea;
    font-size: 36px;
    font-weight: bold;
    padding-bottom: 30px;
}

header p {
    color: #cae9ea;
    font-size: 18px;
    padding-bottom: 30px;
}

.col-md-10 {
    margin: 0;
    padding: 0;
}

.hero-button {
    background: linear-gradient(180deg, #cae9ea, #7ebda5);
    font-weight: bold;
    color: #273b40;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;

    &:hover {
        background: linear-gradient(180deg, #8be8b5, #4b9c78);
        border: 2px solid #cae9ea;
        color: #273b40;
    }
}

.dashboard-button {
    background: linear-gradient(180deg, #cae9ea, #7ebda5);
    font-weight: bold;
    color: #273b40;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;

    &:hover {
        background: linear-gradient(180deg, #8be8b5, #4b9c78);
        border: 2px solid #cae9ea;
        color: #273b40;
    }
}

.content-below-hero {
    margin-top: 2%;
    margin-left: 20px;
}

.content-below-hero h2 {
    font-size: 30px;
}

.recent-games h2 {
    color: #cae9ea;
}

.recent-forum-posts h2 {
    color: #cae9ea;
    justify-content: center;
}

/* ---------------------------------------------------------------DASHBOARD PAGE STYLING-----------------------------------------------------*/
#file-chosen{
    margin-left: 0.3rem;
}

.card {
    background-color: #39595f;
}

h2 {
    color: #cae9ea;
}

h3 {
    color:#CED4da;
}

h4 {
    color: #CED4da;
}

h5 {
    color: #CED4da;
}

h6 {
    color: #CED4da;
}

label {
    color: white;
}

p {
    color: white;
}

/* ---------------------------------------------------------------GAME PAGE STYLING-----------------------------------------------------------*/
#game-player {
    margin: 0 auto;
    display: block;
}

#game {
    background: #39595f;
    margin: auto;
    color: white;
    font-weight: bold;
    border: none;
}

#cover {
    background: #39595f;
    margin: auto;
    color: white;
    font-weight: bold;
    border: none;
}

.publish-game-button, .download-btn {
    background: linear-gradient(180deg, #cae9ea, #7ebda5);
    font-weight: bold;
    color: #273b40;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    margin-bottom: 10px;
    cursor: pointer;

    &:hover {
        background: linear-gradient(180deg, #8be8b5, #4b9c78);
        border: 2px solid #cae9ea;
        color: #273b40;
    }
}

#helper {
    color: #a5bcbd;
}

.play-game-container {
    background-color: #303030;
    padding: 20px;
    padding-top: 35px;
    border: 2px solid #cae9ea;
    border-radius: 4px;
}

.download-game-container {
    background-color: #303030;
    padding: 20px;
    border: 2px solid #cae9ea;
    border-radius: 4px;
}

.download-game-container {
    background-color: #303030;
    padding: 20px;
    border: 2px solid #cae9ea;
    border-radius: 4px;
}

/* .game-cover-image {
    max-width: 190px;
    height: 180px;
} */

/* ---------------------------------------------------------------FORUM PAGE STYLING----------------------------------------------------------*/
.col-md-12 {
    background-color: #39595f;
    padding-top: 30px;
    padding-bottom: 30px;
    border-radius: 5px;
    margin-bottom: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
    background-size: cover;
    background-position: center;
}

.col-md-12 p {
    color: white;
    font-size: 18.5px;
}

.col-md-12 h4 {
    color: #c6fdff;
}

.col-md-12 h4:hover {
    color: #8be8b5;
}

.forum-card-container {
    display: flex;
    flex-direction: column;
}

.col-md-12 {
    border: 2px solid #cae9ea;
    border-radius: 5px;
}

/* ---------------------------------------------------------------FORUM THREADS STYLING--------------------------------------------------------*/
.toggleFormBtn {
    background: linear-gradient(180deg, #cae9ea, #7ebda5);
    font-weight: bold;
    color: #273b40;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    margin-bottom: 10px;
    cursor: pointer;

    &:hover {
        background: linear-gradient(180deg, #8be8b5, #4b9c78);
        border: 2px solid #cae9ea;
        color: #273b40;
    }
}

.forum-threads-form-container {
    background-color: #303030;
    border: 2px solid #cae9ea;
    margin-top: 8px;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 5px;
}

.forum-threads-form-container label {
    font-size: 20px;
    color: #cae9ea;
}

.forum-threads-form-container textarea {
    white-space: pre-wrap;
}

.card-title {
    font-size: 24px;
    color: #cae9ea;

    &:hover {
        color: #8be8b5;
    }
}

.card-text {
    font-size: 17px;
    width: 100%;
    max-width: 870px;
    white-space: pre-line;
}

.comment-text {
    font-size: 17px;
    width: 100%;
    max-width: 860px;
    white-space: pre-line;
    margin-top: -20px;
}

.details {
    margin-top: 20px;
}

.comment-card-details {
    font-size: 13px;
    color: #c8c6c6;
    margin-left: 10px;
}

.card-details {
    font-size: 13px;
    color: #c8c6c6;
}

.thread-container {
    border: 2px solid #cae9ea;
    border-radius: 5px;
}

.thread-button {
    background: linear-gradient(180deg, #cae9ea, #7ebda5);
    font-weight: bold;
    color: #273b40;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    margin-bottom: 10px;
    cursor: pointer;

    &:hover {
        background: linear-gradient(180deg, #8be8b5, #4b9c78);
        border: 2px solid #cae9ea;
        color: #273b40;
    }
}

.login-link {
    color: #8be8b5;
    font-weight: bold;

    &:hover {
        color: #8be8b5;
    }
}

/* ---------------------------------------------------------------THREAD DETAILS STYLING--------------------------------------------------------*/

.thread-detail-title {
    font-size: 35px;
}

.small-heading {
    font-size: 18px;
}

.thread-op-post {
    background-color: #303030;
    padding: 20px;
    border-radius: 5px;
    border: 2px solid #cae9ea;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
}

.thread-comment-form-container label {
    font-size: 20px;
    color: #cae9ea;
}

.thread-comment-form-container textarea {
    white-space: pre-wrap;
}

.comments {
    border: 2px solid #cae9ea;
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
}

.comments-heading {
    font-size: 30px;
    color: #cae9ea;
    margin-bottom: 15px;
}

.reply-link {
    text-decoration: none;
    color: #cae9ea;

    &:hover {
        color: #cae9ea;
        text-decoration: underline;
    }
}

.parent-comment-content {
    color: white;
    font-size: 17px;
    padding: 15px;
    margin-bottom: 5px;
    width: 100vw;
    max-width: 860px;
    border-radius: 4px;
    background-color: #273b40;
}

.strong-color {
    color: #8be8b5;
}

.edit-form {
    margin: 10px 20px;
}

.reply-form textarea, .edit-form textarea {
    white-space: pre-wrap;
}

.reply-form label, .edit-form label {
    color: #cae9ea;
}

.parent-comment {
    background-color: #273b40;
    width: 95%;
    border-radius: 5px;
    padding-left: 10px;
}

.post-comment-button {
    background: linear-gradient(180deg, #cae9ea, #7ebda5);
    font-weight: bold;
    color: #273b40;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    margin-bottom: 15px;

    &:hover {
        background: linear-gradient(180deg, #8be8b5, #4b9c78);
        border: 2px solid #cae9ea;
        color: #273b40;
    }
}

.delete-button, .edit-button, .delete-thread-button, .delete-user-game {
    color: #cae9ea;

    &:hover {
        color: #8be8b5;
    }
}

hr {
    border-color: white;
}

.logged-in-user {
    color: #cae9ea;
}

.other-user {
    color: #8be8b5;
}

/* ---------------------------------------------------------------GAME REVIEW STYLING--------------------------------------------------------*/

.game-card-button {
    background: linear-gradient(180deg, #cae9ea, #7ebda5);
    font-weight: bold;
    color: #273b40;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    margin-bottom: 20px;
    margin-left: 20px;
    max-width: 85px;

    &:hover {
        background: linear-gradient(180deg, #8be8b5, #4b9c78);
        border: 2px solid #cae9ea;
        color: #273b40;
    }
}

.load-more-button {
    background: linear-gradient(180deg, #cae9ea, #7ebda5);
    font-weight: bold;
    color: #273b40;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    margin-bottom: 20px;
    margin-left: 20px;
    max-width: 115px;

    &:hover {
        background: linear-gradient(180deg, #8be8b5, #4b9c78);
        border: 2px solid #cae9ea;
        color: #273b40;
    }
}

.search-button {
    background: linear-gradient(180deg, #cae9ea, #7ebda5);
    font-weight: bold;
    color: #273b40;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;

    &:hover {
        background: linear-gradient(180deg, #8be8b5, #4b9c78);
        border: 2px solid #cae9ea;
        color: #273b40;
    }
}

.searchbar-container {
    margin-bottom: 30px;
}

/* ---------------------------------------------------------------REVIEW DETAIL STYLING--------------------------------------------------------*/
.review-container {
    border: 2px solid #cae9ea;
    border-radius: 5px;
}

.single-review-title {
    color: #cae9ea;
    &:hover {
        color: #8be8b5;
    }
}

.single-review-game-name {
    color: #8be8b5;
    &:hover {
        color: #8be8b5;
    }
}

.review-title {
    font-size: 24px;
    color: #cae9ea;
    max-width: 865px;
}

.review-recommendation {
    font-size: 18px;
}

.rating-stars {
    display: flex;
    color: gold;
}

.rating-stars i {
    margin-right: 2px;
}

.sorting-form-container {
    margin-top: 8px;
    margin-left: 420px;
}

.review-count {
    font-size: 20px;
    color: white;
}

.write-review-button {
    margin-top: 6.5px;
}

/* ---------------------------------------------------------------EDIT PROFILE STYLING---------------------------------------------------------*/
.edit-profile-container {
    text-align: center;
    margin-top: 40px;
}

.profile-label {
    font-size: 20px;
    color: #97c1c3 !important;
    font-weight: bold;
    margin-bottom: 15px;
}

.picture-label1 {
    font-size: 20px;
    color: #97c1c3 !important;
    font-weight: bold;
    margin-bottom: 15px;
    margin-left: 30px;
}

.picture-label2 {
    font-size: 20px;
    color: #97c1c3 !important;
    font-weight: bold;
    margin-bottom: 15px;
    margin-left: 50px;
}

.image-container {
    display: flex;
}

.picture-preview, .current-picture {
    margin-bottom: 50px;
}

#profile-preview, #current-picture {
    border-radius: 50%;
    border: 2px solid #cae9ea;
    width: 380px; 
    height: 380px;
    object-fit: cover;
    margin-right: 50px;
    margin-left: 90px;
}

.save-changes-button {
    background: linear-gradient(180deg, #cae9ea, #7ebda5);
    font-weight: bold;
    color: #273b40;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    margin-top: 5px;
    margin-bottom: 20px;
    cursor: pointer;

    &:hover {
        background: linear-gradient(180deg, #8be8b5, #4b9c78);
        border: 2px solid #cae9ea;
        color: #273b40;
    }
}

/* ---------------------------------------------------------------PROFILE VIEW STYLING---------------------------------------------------------*/
.profile-container {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

.user-activity {
    width: 45%;
}

.user-activity-heading {
    color: #8be8b5;
    font-weight: bold;
}

.activity-labels {
    color: #97c1c3;
}

.activity-cards {
    margin-bottom: 15px;
    border: 2px solid #cae9ea;
}

.view-profile-pic-and-about-me {
    width: 45%;
    display: flex;
    flex-direction: column;
}

.view-profile-pic {
    margin-bottom: 20px;
}

#profile-pic {
    border-radius: 50%;
    border: 2px solid #cae9ea;
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.profile-picture {
    border-radius: 50%;
    border: 2px solid #cae9ea;
    width: 380px;
    height: 380px;
    object-fit: cover;
}

.profile-card-title {
    font-size: 20px;
    color: #cae9ea;
}

.forum-profile-link {
    text-decoration: underline;
    color: #cae9ea;

    &:hover {
        color: #8be8b5;
        text-decoration: underline;
    }
}

.activity-link {
    font-size: 18px;
    color: #8be8b5;
    &:hover {
        color: #8be8b5;
    }
}

.big-activity-link {
    color: #8be8b5;
    &:hover {
        color: #8be8b5;
    }
}

.usernames {
    color: #8be8b5;
    &:hover {
        color: #8be8b5;
    }
}

.usernames2 {
    color: #cae9ea;
    &:hover {
        color: #8be8b5;
    }
}

.usernames3 {
    font-size: 24px;
    color: #8be8b5;
    &:hover {
        color: #8be8b5;
    }
}

/* ---------------------------------------------------------------LIKE BUTTON STYLING----------------------------------------------------------*/
.like-button {
    color: #cae9ea;
    &:hover {
        color: #93c2c4;
    }
}

.like-button.liked {
    color: #8be8b5;
}

.card-likes {
    margin-top: 10px;
    display: flex;
    align-items: center;
    margin-left: 15px;
}

.card-likes span {
    color: white;
}

/* ---------------------------------------------------------------DISPLAY USERS STYLING-------------------------------------------------------*/
.username-container ul {
    list-style: none;
}

.username-container li {
    margin-bottom: 8px;
}

.playnest-users {
    margin-left: 30px;
}

.users-link {
    font-size: 15px;
    text-decoration: underline;
    color: #8be8b5;
    &:hover {
        color: #cae9ea;
        text-decoration: underline;
    }
}

/* ---------------------------------------------------------------MEDIA QUERIES---------------------------------------------------------------*/
@media (max-width: 554px) {
    .content-below-hero {
        margin-top: 3%;
        margin-left: 30px;
    }
}


@media (max-width: 576px) {
    .forum-card-container {
        margin: auto;
    }
}


@media (max-width: 767px) {
    header h2 {
        font-size: 24px;
    }


    header p {
        font-size: 14px;
    }


    .hero-button,
    .dashboard-button {
        font-size: 16px;
    }


    .content-below-hero {
        margin-top: 3%;
    }


    .sidebar {
        display: none;
    }
}


@media (max-width: 768px) {
    .profile-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }


    .view-profile-pic-and-about-me,
    .user-activity {
        width: 100%;
    }


    .view-profile-pic-and-about-me {
        margin-bottom: 30px;
    }


    .profile-picture {
        width: 100%;
        max-width: 400px;
        height: auto;
        max-height: 400px;
        margin-bottom: 20px;
    }


    .image-container {
        flex-direction: column;
    }


    .picture-label1, .picture-label2 {
        margin-left: 0px;
    }


    #profile-preview, #current-picture {
        margin-left: 40px;
        width: 325px;
        height: 325px;
    }
}


@media (min-width: 769px) and (max-width: 992px) {
    .profile-container {
        flex-direction: flex;
        justify-content: space-between;
        align-items: center;
        text-align: center;
    }


    .view-profile-pic-and-about-me,
    .user-activity {
        width: 100%;
    }


    .user-activity {
        margin-left: 80px;
    }


    .profile-picture {
        width: 100%;
        max-width: 500px;
        height: auto;
        max-height: 500px;
        margin-bottom: 20px;
    }


    .image-container {
        flex-direction: column;
    }


    .picture-label1, .picture-label2 {
        margin-left: 0px;
    }


    #profile-preview, #current-picture {
        margin-left: 40px;
        width: 325px;
        height: 325px;
    }
}


@media (min-width: 993px) and (max-width: 1199px) {
    #profile-preview {
        margin-left: 20px;
    }


    .picture-label1 {
        margin-right: 65px;
    }


    .picture-label2 {
        margin-left: 80px;
        margin-right: 20px;
    }
}

@media (min-width: 1200px) {
    .thread-title, .review-title {
        max-width: 870px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .thread-title, .review-title {
        max-width: 730px;
    }

    .parent-comment-content, .comment-text {
        max-width: 680px
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    .parent-comment-content, .comment-text {
        max-width: 450px
    }

    .thread-title, .review-title {
        max-width: 480px;
    }
}

@media (min-width: 540px) and (max-width: 767px) {
    .parent-comment-content, .comment-text {
        max-width: 270px
    }

    .thread-title, .review-title {
        max-width: 300px;
    }
}

@media (min-width: 515px) and (max-width: 539px) {
    .parent-comment-content, .comment-text {
        max-width: 260px
    }

    .thread-title, .review-title {
        max-width: 280px;
    }
}

@media (min-width: 491px) and (max-width: 514px) {
    .parent-comment-content, .comment-text {
        max-width: 230px
    }

    .thread-title, .review-title {
        max-width: 250px;
    }
}

@media (min-width: 460px) and (max-width: 490px) {
    .parent-comment-content, .comment-text {
        max-width: 210px
    }

    .thread-title, .review-title {
        max-width: 230px;
    }
}

@media (min-width: 431px) and (max-width: 490px) {
    .parent-comment-content, .comment-text {
        max-width: 180px
    }

    .thread-title, .review-title {
        max-width: 200px;
    }
}

@media (min-width: 300px) and (max-width: 430px) {
    .parent-comment-content, .comment-text {
        max-width: 130px
    }

    .thread-title, .review-title {
        max-width: 180px;
    }
}
