body {
    overflow-x: hidden;
    background-color: #1d1d1d;
}

/* -----------------------------------------------------LAYOUT STYLING (NAVBAR, FOOTER, BUTTONS)---------------------------------------------*/
.custom-navbar {
    background-color: #273b40;
}

.navbar-custom .navbar-brand:hover {
    background-color: #273b40;
    color: #8be8b5;
    padding: 4px;
    border-radius: 4px;
    cursor: pointer;
}

.navbar-custom .navbar-brand {
    color: #cae9ea;
    font-weight: bold;
    font-size: 25px;
}

.navbar-nav .nav-item .nav-link {
    color: #CED4da;
}

.navbar-nav .nav-item.active .nav-link {
    color: white;
    font-weight: bold;
}

.navbar-nav .nav-item .nav-link:hover {
    color: #8be8b5;
    font-weight: bold;
}

.navbar-toggler {
    color: white;
    background-color: white;
}

.btn-dropdown-toggle {
    background-color: #273b40;
    color: #cae9ea;
    border: none;
    padding: 8px 16px;
    padding-right: 20px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 4px;

    &:hover {
        color: #8be8b5;
    }
}

.dropdown-menu {
    background: #273b40;
    border: 1px solid #cae9ea;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 8px 0;
    font-size: 14px;
}

.dropdown-item {
    color: #cae9ea;
    padding: 8px 16px;
    font-size: 18px;

    &:hover {
        background-color: #8be8b5;
        color: #273b40;
    }
}

.register-buttons {
    background: linear-gradient(180deg, #cae9ea, #7ebda5);
    color: #273b40;
    font-weight: bold;
    padding: 8px;
    border: none;
    border-radius: 5px;
    cursor: pointer;

    &:hover {
        background: linear-gradient(180deg, #8be8b5, #4b9c78);
        color: #273b40;
        border: 2px solid #cae9ea;
    }
}

/* ---------------------------------------------------------------LOGIN/SIGNUP PAGE STYLING--------------------------------------------------*/
.form-group label {
    color: white;
}

.form-group input {
    background-color: #222;
}

.login-container {
    background-color: #3c4748;
    padding: 20px;
    border-radius: 8px;
    margin: auto;
    margin-top: 50px;
    max-width: 400px;
}

.login-container h2 {
    text-align: center;
}

.login-button {
    background: linear-gradient(180deg, #cae9ea, #7ebda5);
    color: #273b40;
    font-weight: bold;
    padding: 8px;
    border: 1px solid #cae9ea;
    border-radius: 5px;
    cursor: pointer;

    &:hover {
        background: linear-gradient(180deg, #8be8b5, #4b9c78);
        color: #273b40;
        border: 2px solid #cae9ea;
    }
}

.signup-container h2 {
    text-align: center;
}

.signup-container {
    background-color: #3c4748;
    padding: 20px;
    border-radius: 8px;
    margin: auto;
    margin-top: 50px;
    max-width: 400px;
}

.signup-button {
    background: linear-gradient(180deg, #cae9ea, #7ebda5);
    color: #273b40;
    font-weight: bold;
    padding: 8px;
    border: 1px solid #cae9ea;
    border-radius: 5px;
    cursor: pointer;

    &:hover {
        background: linear-gradient(180deg, #8be8b5, #4b9c78);
        color: #273b40;
        border: 2px solid #cae9ea;
    }
}

/* ---------------------------------------------------------------HOME PAGE STYLING-----------------------------------------------------------*/
.sidebar-container {
    display: column;
    flex-direction: row;
    align-items: flex-start;
}

.sidebar {
    background-color: #3c4748;
    height: 100vh;
    padding: 20px;
}

.sidebar h5 {
    padding-bottom: 5px;
}

.sidebar li {
    margin: 5px 0;
}

.sidebar-content {
    color: #cae9ea;
    padding: 15px;
}

.sidebar-content li:hover {
    color: #8be8b5;
    cursor: pointer;
    font-weight: bold;
}

.sidebar-content ul {
    list-style-type: none;
    padding: 0;
}

.browse-all:hover {
    text-decoration: underline;
}

header {
    text-align: center;
    position: relative;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

header img {
    width: 100%;
    max-height: 500px;
    object-fit: cover;
    filter: brightness(0.4);
    border-radius: 1px;
}

section {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

header h2 {
    color: #cae9ea;
    font-size: 36px;
    font-weight: bold;
    padding-bottom: 30px;
}

header p {
    color: #cae9ea;
    font-size: 18px;
    padding-bottom: 30px;
}

.col-md-10 {
    margin: 0;
    padding: 0;
}

.hero-button {
    background: linear-gradient(180deg, #cae9ea, #7ebda5);
    font-weight: bold;
    color: #273b40;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;

    &:hover {
        background: linear-gradient(180deg, #8be8b5, #4b9c78);
        border: 2px solid #cae9ea;
        color: #273b40;
    }
}

.content-below-hero {
    margin-top: 3%;
    margin-left: 20px;
}

.content-below-hero h2 {
    font-size: 30px;
}

.recent-games h2 {
    color: #cae9ea;
}

.recent-forum-posts h2 {
    color: #cae9ea;
}

/* ---------------------------------------------------------------DASHBOARD PAGE STYLING-----------------------------------------------------*/
#file-chosen{
    margin-left: 0.3rem;
}

.card {
    background-color: #39595f;
}

h2 {
    color: #cae9ea;
}

h3 {
    color:#CED4da;
}

h4 {
    color: #CED4da;
}

h5 {
    color: #CED4da;
}

h6 {
    color: #CED4da;
}

label {
    color: white;
}

p {
    color: white;
}

/* ---------------------------------------------------------------GAME PAGE STYLING-----------------------------------------------------------*/
iframe {
    margin: 0 auto;
    display: block;
}

#upload {
    background: #39595f;
    color: white;
    font-weight: bold;
    border: none;
}

#helper {
    color: #a5bcbd;
}

/* ---------------------------------------------------------------FORUM PAGE STYLING----------------------------------------------------------*/
.col-md-12 {
    background-color: #273b40;
    padding-top: 30px;
    padding-bottom: 30px;
    border-radius: 5px;
    margin-bottom: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
}

.col-md-12 p {
    color: white;
}

.col-md-12 h4:hover {
    color: #8be8b5;
}

.forum-card-container {
    display: flex;
    flex-direction: column;
}

/* ---------------------------------------------------------------MEDIA QUERIES---------------------------------------------------------------*/
@media (max-width: 768px) {
    .sidebar-content {
        display: inline-block;
        margin: 0 2%;
        vertical-align: top;
    }

    .sidebar {
        width: 100%;
        height: 45%;
        text-align: center;
    }
}