{% extends '_layout.html' %}

{% block title %}PlayNest | Creator Dashboard{% endblock %}

{% block content %}

<style>
    .col-md-6 {
        margin-bottom: 25px;
    }
</style>

<div class="container mt-4">
    <h2 class="mb-3">Creator Dashboard</h2>
    <div class="row">
        <!-- Left Column with Horizontal Cards -->
        <div class="col-md-6">
            <h6>Your Creations:</h6>
            <div class="card mb-3">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="..." class="img-fluid rounded-start" alt="...">
                    </div>
                        <div class="col-md-8">
                            <div class="card-body">
                            <h5 class="card-title">Game Name</h5>
                            <p class="card-text">Game short description goes here</p>
                            <p class="card-text"><small class="text-body-secondary">Release date</small></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mb-3">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="..." class="img-fluid rounded-start" alt="...">
                    </div>
                        <div class="col-md-8">
                            <div class="card-body">
                            <h5 class="card-title">Game Name 2</h5>
                            <p class="card-text">Game short description goes here</p>
                            <p class="card-text"><small class="text-body-secondary">Release date</small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Right Column with Form Card -->
        <div class="col-md-6">
            <h6>Upload a game:</h6>
            <div class="card">
                <div class="card-body">
                    <form>
                        <div class="form-group">
                            <label for="title">Title:</label>
                            <input type="text" class="form-control" id="title" placeholder="Enter game title" required>
                        </div>
                        <div class="form-group">
                            <label for="short-description">Short Description:</label>
                            <input type="short-description" class="form-control" id="short-description" placeholder="Optional">
                            <small id="helper" class="form-text">Shown when we link your game. Avoid duplicating your project's title.</small>
                        </div>
                        <div class="form-group">
                            <label for="message">Long Description:</label>
                            <textarea class="form-control" id="message" rows="4"></textarea>
                            <small id="helper" class="form-text">This description will be shown on your game's page.</small>
                        </div>
                        <div class="form-group">
                            <label for="upload" class="form-label">Upload:</label>
                            <input type="file" id="upload" class="form-control">
                        </div>
                        <br>
                        <button type="submit" class="btn btn-primary">Publish Game</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}