{% extends "_layout.html" %}

{% block title %}PlayNest | Forums{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2 class="text-center mb-4">Forums</h2>

    <div class="row forum-card-container">
        <div class="col-md-12">
            <a href="#" class="forum-card forum-card-color">
                <h4>Developer Corner</h4>
                <p>Welcome to the Developer Corner! This forum is the hub for passionate developers, programmers, and tech enthusiasts to discuss and explore all things related to software development, coding, and technology. Whether you're looking for programming tips, debugging solutions, or want to share your latest project, this is the place to connect with fellow developers. Join us in discussions on coding languages, frameworks, best practices, and stay updated with the latest trends in the tech world. Let's learn, share, and code together in the Developer Corner!</p>
            </a>
        </div>
        <div class="col-md-12">
            <a href="#" class="forum-card forum-card-color">
                <h4>PC Corner</h4>
                <p>Dive into the world of PC gaming and computer technology! This forum is your go-to destination for all things related to PC gaming, hardware, and software. Join fellow gamers and tech enthusiasts in discussions about the latest PC games, hardware upgrades, troubleshooting, and optimization tips. Whether you're a seasoned gamer or new to the world of PC gaming, this is the place to share your experiences, seek recommendations, and stay updated on the exciting developments in the PC gaming and technology realm. Explore the PC Corner and level up your gaming and computer knowledge!</p>
            </a>
        </div>
        <div class="col-md-12">
            <a href="#" class="forum-card forum-card-color">
                <h4>Nintendo Corner</h4>
                <p>Where the world of Nintendo gaming comes to life! Join the Nintendo gaming forum in lively discussions about your favorite Nintendo games, consoles, and the iconic characters that make them special. Whether you're a fan of Mario, Zelda, Pokémon, or any of Nintendo's beloved franchises, this is the place to share your passion, exchange gaming tips, and explore the latest Nintendo news. Dive into nostalgia or discover new adventures with fellow Nintendo enthusiasts. The Nintendo Corner is your portal to the colorful and exciting world of Nintendo gaming!</p>
            </a>
        </div>
        <div class="col-md-12">
            <a href="#" class="forum-card forum-card-color">
                <h4>Xbox Corner</h4>
                <p>Your gateway to the Xbox gaming universe! This forum is dedicated to all things Xbox, where gamers come together to discuss the latest Xbox games, consoles, and everything in between. Join the community to share your achievements, seek multiplayer partners, and stay up-to-date on Xbox news and releases. Whether you're a fan of Halo, Forza, or any Xbox-exclusive titles, this is the hub for Xbox enthusiasts. Dive into the Xbox Corner, where gaming adventures and camaraderie await!</p>
            </a>
        </div>
        <div class="col-md-12">
            <a href="#" class="forum-card forum-card-color">
                    <h4>PlayStation Corner</h4>
                    <p>Immerse yourself in the world of PlayStation gaming! This forum is the gathering place for PlayStation enthusiasts to discuss the latest games, consoles, and experiences. Join fellow gamers to explore titles like God of War, Uncharted, and many more. Share gaming tips, seek co-op partners, and stay informed about PlayStation news and updates. Whether you're a long-time PlayStation fan or just discovering the magic of Sony's gaming world, the PlayStation Corner is where you belong. Get ready to embark on epic gaming journeys and connect with fellow PlayStation players!</p>
            </a>
        </div>
        <div class="col-md-12">
            <a href="#" class="forum-card forum-card-color">
                <h4>Indie Games Corner</h4>
                <p>Celebrating creativity in gaming! Welcome to the Indie Games Corner, your haven for exploring the world of indie games and the innovative creations of game developers on our platform. Join the community to discuss indie game gems, share your favorite discoveries, and connect with the talented developers behind these unique experiences. Whether you're a fan of pixel art, story-driven adventures, or experimental gameplay, this is where you can celebrate and support indie game development. Dive into a world of originality, playtest upcoming titles, and be a part of the indie gaming revolution right here in the Indie Games Corner!</p>
            </a>
        </div>
    </div>
</div>
{% endblock %}

