{% extends '_layout.html' %}

{% block title %}PlayNest{% endblock %}

{% block content %}
<style>
    #game-player{
        z-index: 0;
    }

    .fullscreen-btn {
        position: relative;
        right: 75px;
        bottom: 37px;
        background-color: transparent;
        border: none;
        float: right;
    }

    .long-description {
        white-space: pre-wrap;
    }
</style>

<div class="container mt-4">
    <iframe src="{{ game.game_url }}" id="game-player" allowfullscreen="true" webkitallowfullscreen="true" mozallowfullscreen="true" msallowfullscreen="true" scrolling="no" frameborder="0" height="550" width="960"></iframe>
    <button class="fullscreen-btn" onclick="goFullscreen('game-player'); return false">
        <img src="/static/images/fullscreen_btn.png" height="30px" width="30px">
    </button>
    <br>
    <p class="long-description">{{ game.long_description }}</p>
    <br>
    <!-- Add Comment Form -->
    <div class="mb-4">
        <h3>Comments</h3>
        <form>
            <div class="form-group">
                <label for="comment">Comment:</label>
                <textarea class="form-control" id="comment" rows="3" placeholder="Your Comment"></textarea>
                <small id="helper">You must be logged in to comment</small>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>

    <!-- Comments -->
    <div class="comments">
        <div class="card mb-2">
            <div class="card-body">
                <h5 class="card-title">John Doe</h5>
                <p class="card-text">This is a sample comment. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
        </div>
    </div>
</div>

<script>
    function getFullscreenElement() {
        return document.fullscreenElement
            || document.webkitFullscreenElement
            || document.mozFullscreenElement
            || document.msFullscreenElement;
    }

    function goFullscreen(id) {
        var element = document.getElementById(id);
        element.requestFullscreen().catch((e) => {
            console.log(e);
        });
    }
</script>
{% endblock %}