{% extends '_layout.html' %}

{% block title %}{% endblock %}

{% block body %}
<div class="container mt-4">
    <iframe src="..." id="game" allowfullscreen="yes" scrolling="no" frameborder="0" height="550" width="960"></iframe>
    <br>
    <p> This is a game description. Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate consectetur pariatur possimus soluta ducimus magni dignissimos ab? Animi consequuntur, nulla quisquam eveniet suscipit, quam perferendis nemo quidem rerum minus autem.</p>
    <br>
    <!-- Add Comment Form -->
    <div class="mb-4">
        <h3>Comments</h3>
        <form>
            <div class="form-group">
                <label for="comment">Comment:</label>
                <textarea class="form-control" id="comment" rows="3" placeholder="Your Comment"></textarea>
                <small id="helper">You must be logged in to comment</small>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>

    <!-- Comments -->
    <div class="comments">
        <div class="card mb-2">
            <div class="card-body">
                <h5 class="card-title">John Doe</h5>
                <p class="card-text">This is a sample comment. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}