{% extends "_layout.html" %}

{% block content %}
    <div class="sidebar-container">
        <div class="row">
            <div class="col-md-2 sidebar">
                <div class="sidebar-content">
                    <h5>Forum Lobbies</h5>
                    <p>Individual Games</p>
                    <p>Classic Games</p>
                    <p>Events</p>
                    <p>Developer Discussion</p>
                    <p>Browse More → </p>
                </div>

                <div class="sidebar-content">
                    <h5>Games</h5>
                    <p>PC</p>
                    <p>Nintendo</p>
                    <p>Xbox</p>
                    <p>PlayStation</p>
                    <p>Indie</p>
                </div>

                <div class="sidebar-content">
                    <h5>Media</h5>
                    <p>Images</p>
                    <p>Videos</p>
                </div>
            </div>

            <div class="col-md-10">
                <div class="main-content"></div>
                    <div class="hero">
                        <h2>Welcome To PlayNest!</h2>
                        <p>Gaming, Connecting and Beyond. Dive into the world of PlayNest. Sign up and explore.</p>
                        <button class="hero-button">Sign Up Now</button>
                    </div>

                    <div class="recent-games">
                        <h2>Recent Games</h2>
                    </div>
            </div>
        </div>
    </div>
{% endblock %}