<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log In</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <div class="login-container">
        <h2>Log In</h2>
        <form action="/login" method="post">
            <div class="form-group">
                <label for="username">Username:</label>
                <input type="text" placeholder="Enter Username..." class="form-control" id="username" name="username" required>
            </div>
            <div class="form-group password-container">
                <label for="password">Password:</label>
                <input type="password" name="password" id="password" class="form-control password-input" placeholder="Enter Password..." required>
                <span class="show-password" onclick="togglePasswordVisibility()">Show</span>
            </div>
            <div class="text-center">
                <button type="submit" class="login-button">Log In</button>
            </div>
        </form>
    </div>

    <div class="prompt">
        <p>Don't have an account? <a href="{{ url_for('signup') }}" class="register-link">Sign Up</a></p>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        function togglePasswordVisibility() {
            const passwordInput = document.getElementById('password');
            const showPasswordSpan = document.querySelector('.show-password');

            if(passwordInput.type == 'password') {
                passwordInput.type = 'text';
                showPasswordSpan.textContent = 'Hide';
            } else {
                passwordInput.type = 'password';
                showPasswordSpan.textContent = 'Show';
            }
        }
    </script>
</body>
</html>