{% extends "_layout.html" %}

{% block title %}Viewing {{ user.username }}'s Profile{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2 class="text-center mb-4">{{ user.username }}'s Profile</h2>
    
    <div class="profile-container">
        <div class="view-profile-pic-and-about-me">
            <div class="view-profile-pic">
                {% if user.profile.profile_picture %}
                <img class="profile-picture" src="{{ url_for('static', filename='images/picture_options/' + user.profile.profile_picture) }}"
                    alt="Profile Picture">
                {% else %}
                <img class="profile-picture" src="{{ url_for('static', filename='images/default.jpg') }}" alt="Default Profile Picture">
                {% endif %}
            </div>
            
            <div class="view-about-me">
                <p class="profile-label">About Me:</p>
                {% if user.profile.about_me %}
                    <p>{{ user.profile.about_me }}</p>
                {% else %}
                    <p>This user has not set a description about themselves.</p>
                {% endif %}
            </div>
        </div>

        <div class="user-activity">
            <h3 class="text-center mb-4 user-activity-heading">User Activity</h3>

            <h4 class="activity-labels">Reviews:</h4>
            {% if user_reviews %}
                {% for review in user_reviews %}
                <div class="card activity-cards">
                    <div class="card-body">
                        {% set game_info = get_game_details_from_rawg_api(review.game_identifier) %}
                        {% if game_info %}
                        <p class="profile-card-title">Review for <a href="{{ url_for('game_details', game_id=review.game_identifier) }}" class="big-activity-link">{{ game_info.name }}</a></p>
                        <a href="{{ url_for('review_detail', review_id=review.id) }}" class="activity-link">{{ review.title }}</a>
                        {% else %}
                            Review for a game (game details not available)
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
            {% else %}
                <p class="none-found">This user has not posted any reviews.</p>
            {% endif %}

            <h4 class="activity-labels">Threads:</h4>
            {% if user_threads %}
                {% for thread in user_threads %}
                <div class="card activity-cards">
                    <div class="card-body">
                        <p class="profile-card-title">Thread in <a href="{{ url_for('forum_threads', forum_slug=thread.forum.slug) }}" class="big-activity-link">{{ thread.forum.title }}</a></p>
                        <a href="{{ thread.detail_url }}" class="activity-link">{{ thread.title }}</a>
                    </div>
                </div>
                {% endfor %}
            {% else %}
                <p class="none-found">This user has not posted any threads.</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}