{% extends '_layout.html' %} 
{% block title %}PlayNest | User Settings{% endblock %}
{% block content %}
  <div class="container mt-4">
    <h3 class="mb-3">User Settings</h3>
    <div class="row">
      <div class="col-sm">
        <h4>Personal Details</h4>
        <form method="">
          <label for="name" >Name</label>
          <input type="text" placeholder="Name" id="name" class="form-control">
          <label for="username" >Username</label>
          <input type="text" placeholder="Username" id="username" class="form-control">
          <button type="submit" class="btn btn-primary mt-2">Save Changes</button>  
        </form>
      </div>
      <div class="col-sm">
        <h4>Security</h4>
        <form method="">
          <label for="new-password" >New Password</label>
          <input type="text" placeholder="New Password" id="new-password" class="form-control">
          <label for="renew-password" >Re-type New Password</label>
          <input type="text" placeholder="Re-type New Password" id="renew-password" class="form-control">
          <label for="old-password" >Old Password</label>
          <input type="text" placeholder="Old Password" id="old-password" class="form-control">
          <button type="submit" class="btn btn-primary mt-2">Change Password</button>  
        </form>
      </div>
      <div class="col-sm">
        <h4>Account</h4>
        <p>You must enter your password to make these changes.</p>
        <div class="card">
          <div class="card-header">
            Delete Uploaded Games
          </div>
          <div class="card-body">
            <form method="">
              <div class="input-group">
                <input type="text" placeholder="Enter Password" class="form-control">
                <button type="button" class="btn btn-danger">Delete</button>    
              </div>            
            </form>
          </div>
        </div>
        <div class="card mt-3">
          <div class="card-header">
            Delete Account
          </div>
          <div class="card-body">
            <form method="">
              <div class="input-group">
                <input type="text" placeholder="Enter Password" class="form-control">
                <button type="button" class="btn btn-danger">Delete</button>    
              </div>  
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}