{% extends "_layout.html" %}

{% block title %}PlayNest | {{ thread.title }}{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2 class="text-center mb-4">{{ thread.title }}</h2>
        <div class="thread-op-post">
            <p class="card-text">{{ thread.content }}</p>
            <p class="card-details">Posted by: <span style="color: #8be8b5;">{{ thread.user.username }}</span> on {{ thread.created_at.strftime('%m-%d-%Y • %I:%M %p') }}</p>
        </div>

    <hr>

<!-- display comments -->
<h3 class="comments-heading">Comments</h3>
{% for comment in thread.comments %}
    <div class="card mb-3">
        <div class="comments">
            <div class="card-body">
                <div class="d-flex justify-content-between">
                    <div>
                        {% if comment.parent_comment %}
                            <div class="parent-comment">
                                <p><strong class="strong-color">{{ comment.parent_comment.user.username }} said:</strong> {{ comment.parent_comment.content }}</p>
                            </div>
                        {% endif %}
    
                        <p class="card-text">{{ comment.content }}</p>
                        <p class="card-details">Comment by: 
                            <span style="color: #8be8b5;">{{ comment.user.username }}</span> on {{ comment.created_at.strftime('%m-%d-%Y • %I:%M %p') }}
                            {% if 'username' in session %}
                                • <a href="#" class="reply-link">Reply</a>
                            {% endif %}
                        </p>
                    </div>
    
                    <div>
                        {% if comment.user.username == session['username'] %}
                            <!-- delete button if the comment belongs to the logged-in user -->
                            <form method="POST" action="{{ url_for('delete_comment', forum_slug=forum.slug, thread_id=thread.id, comment_id=comment.id) }}">
                                <button type="button" class="btn btn-link edit-comment-button">
                                    <i class="fas fa-pencil-alt"></i>
                                </button>
                                <button type="submit" class="btn btn-link delete-button">
                                    <i class="fas fa-trash-alt"></i>
                                </button>
                            </form>
                        {% endif %}
                    </div>
                </div>
    
                <div class="reply-form" style="display: none;">
                    <form method="POST" action="{{ url_for('post_reply', forum_slug=forum.slug, thread_id=thread.id) }}">
                        <div class="form-group">
                            <label for="content">Your Reply:</label>
                            <textarea class="form-control" id="content" name="content" rows="3" required></textarea>
                        </div>
                        <input type="hidden" name="parent_comment_id" value="{{ comment.id }}">
                        <button type="submit" class="post-comment-button">Post Reply</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endfor %}

    <!-- form to add a new comment -->
    <div class="thread-comment-form-container">
        {% if 'username' in session %}
            <form method="POST">
                <div class="form-group">
                    <label for="content">Leave a Comment:</label>
                    <textarea class="form-control" id="content" name="content" rows="3" required></textarea>
                </div>
                <button type="submit" class="post-comment-button">Post Comment</button>
            </form>
        {% else %}
            <p><a href="{{ url_for('login') }}" class="login-link">Log in</a> to leave a comment.</p>
        {% endif %}
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        // Select all reply links
        var replyLinks = document.querySelectorAll('.reply-link');

        // Iterate over each reply link
        replyLinks.forEach(function (link) {
            link.addEventListener('click', function (event) {
                event.preventDefault();

                // Get the associated reply form
                var replyForm = this.closest('.card-body').querySelector('.reply-form');

                // Toggle the visibility of the reply form
                if (replyForm.style.display === 'none' || replyForm.style.display === '') {
                    replyForm.style.display = 'block';
                } else {
                    replyForm.style.display = 'none';
                }
            });
        });
    });
</script>
{% endblock %}