{% extends "_layout.html" %}

{% block title %}PlayNest | {{ thread.title }}{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2 class="text-center mb-4">{{ thread.title }}</h2>
    <div class="thread-op-post">
        <p class="card-text">{{ thread.content }}</p>
        <p class="card-details">Posted by: {{ thread.user.username }} on {{ thread.created_at.strftime('%Y-%m-%d %H:%M:%S') }}</p>
    </div>

    <hr>

    <!-- display comments -->
    <h3 class="comments-heading">Comments</h3>
    {% for comment in thread.comments %}
        <div class="card mb-3">
            <div class="card-body">
                <p class="card-text">{{ comment.content }}</p>
                <p class="card-details">Comment by: {{ comment.user.username }} on {{ comment.created_at.strftime('%Y-%m-%d %H:%M:%S') }}</p>
            </div>
        </div>
    {% endfor %}

    <!-- form to add a new comment -->
    <div class="thread-comment-form-container">
        <form method="POST">
            <div class="form-group">
                <label for="content">Leave a Comment:</label>
                <textarea class="form-control" id="content" name="content" rows="3" required></textarea>
            </div>
            <button type="submit" class="post-comment-button">Post Comment</button>
        </form>
    </div>
</div>
{% endblock %}