{% extends "_layout.html" %}

{% block title %}PlayNest | {{ thread.title }}{% endblock %}

{% block content %}

<style>
    .indent-0 {
        margin-left: 0;
    }

    .indent-1 {
        margin-left: 20px;
    }

    .indent-2 {
        margin-left: 40px;
    }

    .reply-card {
        background-color: #273b40;
        border: none;
    }

    .replies {
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

</style>

<div class="container mt-4">
    <h2 class="text-center mb-4 thread-detail-title">{{ thread.title }}</h2>
    <div class="card mb-3">
        <div class="thread-op-post">
            <div class="d-flex justify-content-between">
                <div class="w-100">
                    <div>
                        <p class="card-text">{{ thread.content }}</p>
                        <p class="card-details">Posted by: <span style="color: #8be8b5;">{{ thread.user.username }}</span> on {{ thread.created_at.strftime('%m-%d-%Y • %I:%M %p') }}</p>
                    </div>
                </div>
                <div class="align-self-start">
                    {% if 'username' in session and thread.user.username == session['username'] %}
                        <!-- delete/edit buttons if the thread belongs to the logged-in user -->
                        <div class="thread-buttons">
                            <button type="submit" class="btn btn-link edit-button">
                                <i class="fa-solid fa-pencil"></i>
                            </button>
                            <form method="POST" action="{{ url_for('delete_thread', forum_slug=forum.slug, thread_id=thread.id) }}">
                                <button type="submit" class="btn btn-link delete-button">
                                    <i class="fas fa-trash-alt"></i>
                                </button>
                            </form>
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="edit-form" style="display: none;">
                <form method="POST" action="{{ url_for('edit_thread', forum_slug=forum.slug, thread_id=thread.id) }}">
                    <div class="form-group">
                        <label for="edit-content">Edit Your Thread:</label>
                        <textarea class="form-control" id="edit-content" name="edit_content" rows="5" required>{{ thread.content }}</textarea>
                    </div>
                    <button type="submit" class="post-comment-button">Save Changes</button>
                </form>
            </div>
        </div>
    </div>

<hr>

<!-- form to add a new comment -->
<div class="thread-comment-form-container">
    {% if 'username' in session %}
        <form method="POST">
            <div class="form-group">
                <label for="content">Leave a Comment:</label>
                <textarea class="form-control" id="content" name="content" rows="5" required></textarea>
            </div>
            <button type="submit" class="post-comment-button">Post Comment</button>
        </form>
    {% else %}
        <p><a href="{{ url_for('login') }}" class="login-link">Log in</a> to leave a comment.</p>
    {% endif %}
</div>

<!-- display comments -->
<h3 class="comments-heading">Comments</h3>

{% if thread.comments %}
    {% for comment in thread.comments|reverse if not comment.parent_comment %}
        <div class="card mb-3 {{ comment.indent_class }}">
            <div class="comments">
                <div class="card-body">
                    <div class="d-flex justify-content-between">
                        <div>
                            <p class="card-text">{{ comment.content }}</p>
                            <p class="card-details">Comment by: 
                                <span style="color: #8be8b5;">{{ comment.user.username }}</span> on {{ comment.created_at.strftime('%m-%d-%Y • %I:%M %p') }}
                                {% if 'username' in session %}
                                    • <a href="#" class="reply-link">Reply</a>
                                {% endif %}
                            </p>
                            <!-- like button and like count display -->
                            <p class="card-likes">
                                <button class="btn btn-link like-button {% if 'username' in session and comment.id in liked_comments %}liked{% endif %}" data-comment-id="{{ comment.id }}">
                                    <i class="fas fa-thumbs-up"></i> Like
                                </button>
                                <span class="like-count">
                                    {{ comment.likes|length }}
                                </span> like(s)
                            </p>
                        </div>

                        <div>
                            {% if comment.user.username == session['username'] %}
                                <!-- delete/edit buttons if the comment belongs to the logged-in user -->
                                <div class="comment-buttons">
                                    <button type="submit" class="btn btn-link edit-button">
                                        <i class="fa-solid fa-pencil"></i>
                                    </button>
                                    <form method="POST" action="{{ url_for('delete_comment', forum_slug=forum.slug, thread_id=thread.id, comment_id=comment.id) }}">
                                        <button type="submit" class="btn btn-link delete-button">
                                            <i class="fas fa-trash-alt"></i>
                                        </button>
                                    </form>
                                </div>
                            {% endif %}
                        </div>
                    </div>

                    <div class="edit-form" style="display: none;">
                        <form method="POST" action="{{ url_for('edit_comment', forum_slug=forum.slug, thread_id=thread.id, comment_id=comment.id) }}">
                            <div class="form-group">
                                <label for="edit-content">Edit Your Comment:</label>
                                <textarea class="form-control" id="edit-content" name="edit_content" rows="5" required>{{ comment.content }}</textarea>
                            </div>
                            <button type="submit" class="post-comment-button">Save Changes</button>
                        </form>
                    </div>

                    <div class="reply-form" style="display: none;">
                        <form method="POST" action="{{ url_for('post_reply', forum_slug=forum.slug, thread_id=thread.id) }}">
                            <div class="form-group">
                                <label for="content">Your Reply:</label>
                                <textarea class="form-control" id="content" name="content" rows="5" required></textarea>
                            </div>
                            <input type="hidden" name="parent_comment_id" value="{{ comment.id }}">
                            <button type="submit" class="post-comment-button">Post Reply</button>
                        </form>
                    </div>

                    <!-- display replies for this parent comment -->
                    {% for reply in comment.child_comments %}
                        <div class="card mb-3 {{ reply.indent_class }} reply-card">
                            <div class="replies">
                                <div class="card-body">
                                    <div class="d-flex justify-content-between">
                                        <div class="w-100">
                                            <div>
                                                <p class="card-text"> {{ reply.content }}</p>
                                                <p class="card-details">Reply by: 
                                                    <span style="color: #8be8b5;">{{ reply.user.username }}</span> on {{ reply.created_at.strftime('%m-%d-%Y • %I:%M %p') }}
                                                </p>
                                            </div>
                                        </div>

                                        <div>
                                            {% if reply.user.username == session['username'] %}
                                                <!-- delete/edit buttons if the reply belongs to the logged-in user -->
                                                <div class="reply-buttons">
                                                    <button type="submit" class="btn btn-link edit-button">
                                                        <i class="fa-solid fa-pencil"></i>
                                                    </button>
                                                    <form method="POST" action="{{ url_for('delete_comment', forum_slug=forum.slug, thread_id=thread.id, comment_id=reply.id) }}">
                                                        <button type="submit" class="btn btn-link delete-button">
                                                            <i class="fas fa-trash-alt"></i>
                                                        </button>
                                                    </form>
                                                </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                                <div class="edit-form" style="display: none;">
                                    <form method="POST" action="{{ url_for('edit_comment', forum_slug=forum.slug, thread_id=thread.id, comment_id=reply.id) }}">
                                        <div class="form-group">
                                            <label for="edit-content">Edit Your Reply:</label>
                                            <textarea class="form-control" id="edit-content" name="edit_content" rows="5" required>{{ reply.content }}</textarea>
                                        </div>
                                        <button type="submit" class="post-comment-button">Save Changes</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endfor %}
{% else %}
    <p>No comments yet. Start the conversation!</p>
{% endif %}

</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const likeButtons = document.querySelectorAll('.like-button');
        likeButtons.forEach(button => {
            button.addEventListener('click', function() {
                const commentId = this.getAttribute('data-comment-id');
                likeComment(commentId, this)
            });
        });

        async function likeComment(commentId, button) {
            try {
                const response = await fetch(`/like_comment/${commentId}`, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    credentials: 'same-origin',
                });
                const data = await response.json();

                if(data.success) {
                    // update like count in UI
                    const likeCountElement = button.parentElement.querySelector('.like-count');
                    const currentLikes = parseInt(likeCountElement.innerText);

                    if (button.classList.contains('liked')) {
                        // if its already been liked, unlike
                        likeCountElement.innerText = currentLikes - 1;
                    } else {
                        // if not liked, then like
                        likeCountElement.innerText = currentLikes + 1;
                    }
                    // toggle 'liked' class after updating like count
                    button.classList.toggle('liked');
                } else {
                    console.error('Failed to like comment');
                }
            } catch (error) {
                console.error('Error during likeComment:', error);
            }
        }

        // select all reply links
        const replyLinks = document.querySelectorAll('.reply-link');

        // iterate over each reply link
        replyLinks.forEach(function (link) {
            link.addEventListener('click', function (event) {
                event.preventDefault();

                // get the associated reply form
                const replyForm = this.closest('.card-body').querySelector('.reply-form');

                // toggle the visibility of the reply form
                if (replyForm.style.display === 'none' || replyForm.style.display === '') {
                    replyForm.style.display = 'block';
                } else {
                    replyForm.style.display = 'none';
                }
            });
        });

        // select all edit buttons
        const editButtons = document.querySelectorAll('.edit-button');

        // iterate over each edit button
        editButtons.forEach(function (button) {
            button.addEventListener('click', function (event) {
                event.preventDefault();

                // get the associated card
                const card = this.closest('.card');

                // get the associated edit form within the card
                const editForm = card.querySelector('.edit-form');

                // toggle the visibility of the edit form
                if (editForm.style.display === 'none' || editForm.style.display === '') {
                    editForm.style.display = 'block';
                } else {
                    editForm.style.display = 'none';
                }
            });
        });
    });
</script>
{% endblock %}